/*
#6d7e3e - verde juerte
#ebf2e3 - verde claro
*/

#footer-logo {
	height: 40%;
	width: 40%;
}

.page-footer {
	background-color: #6d7e3e !important;
}

.footer-copyright {
	background-color: #ebf2e3 !important;
}

.fab {
	font-size: 25px;
}

.copy-text {
	color: #6d7e3e !important;
}